<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>8XZ69YB7U5</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>emrebaglayici.nobetcim</key>
		<string>Nobetcim App Store</string>
		<key>emrebaglayici.nobetcim.widget</key>
		<string>Nobetcim Widget App Store</string>
	</dict>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
